/*! Building Interfaces HTML5 template */
/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 20px;
    padding-top: 50px;
}

h1 {
    font-size: 2.8em;
    letter-spacing: 1px;
    font-weight: normal;
    color: #fff;
}

p.tweet {
    color: #ffffff;
    font-size: 1.5em;
    padding: 10px 30px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.rcard {
    padding: 20px 15px;
    background-color: #91BED4;
}

.districtcard {
    padding: 7px 7px;
    background-color: #91BED4;
}

.fact {
    padding: 30px 30px;
    background-color: #cccccc;
    border: 1px;
    border-color: #666666;
    z-index: 5;
}

.swingcard {
    padding: 20px 15px;
    background-color: #EF8B6B;
}

.distcard {
    padding: 20px 15px;
    background-color: #DAEAEF;
}

.magiccard {
    padding: 20px 15px;
    background-color: #45B29D;
}

a.panels {
    text-decoration: none;
}

.btn-primary {
    padding: 20px 40px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

button {
    background-color: #ffffff;
    margin-right: 10px;
    border: 1px;
    border-color: #666666;
}

button.correct.active { background-color: green; }
button.wrong.active { background-color: red; }
/* ==========================================================================
   Media Queries
   ========================================================================== */


/* Mobile */
@media only screen and (min-width: 480px) {
  
}
/* Intermediate */
@media only screen and (min-width: 768px) {

}
/* Wide */
@media only screen and (min-width: 1140px) {




/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}